{% extends 'base_min.html' %}
{% load jinja %}

{% block mainmenu %}
{% jinja 'mainmenu.htm' %}
{% endblock mainmenu %}

{% block main %}
{% if main_navs %}
    {% jinja 'bs_navs.htm' with _render_=1 navs=main_navs %}
{% endif %}

<div class="panel panel-primary">
    <div class="panel-heading">Добро пожаловать!</div>
    <div class="panel-body">
        Воспользуйтесь меню для выбора нужного действия.
    </div>
</div>
{% endblock main %}
